opencv-python
h5py
pytorch-lightning==1.7.7
transformers
orjson
tqdm
regex
seaborn
scikit-learn
rich
python-dotenv
wandb
hydra-core
ftfy
imutils
scipy
einops
torchmetrics
ffmpeg
timm
higher
tensorflow-cpu
tensorflow-datasets
dotted_dict
learn2learn
hydra_zen
